@model Test
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">@Model.TestCategory</h3>
            <ul>
                <li>@Model.questionsAmount - questions</li>

            </ul>
        </div>

    </div>
    @if (Model.isPassed)
    {
        <a type="button" asp-controller="Question" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-danger float-right mt-3">View Results</a>
    }
    else
    {
        <a type="button" asp-controller="Question" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-danger float-right mt-3">Confirm</a>
    }
    @if (Model.CanBePassedAgain && Model.isPassed)
    {
        <a type="button" asp-controller="TestResult" asp-action="Again" asp-route-id="@Model.Id" class="btn btn-danger float-right mt-3">Try again</a>
    }
</div>
